<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qenawi.fbmini">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".following.i_follow" />
        <activity android:name=".AddPost" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />

        <service
            android:name=".services.ScaterToFollwers"
            android:enabled="true" />
        <service
            android:name=".services.news_feed_listner"
            android:enabled="true" />

        <activity android:name=".News_Feed" />
        <activity android:name=".Rig.Rigst"></activity>
    </application>

</manifest>